body
{
  background-color:#2E8934;
}

h5
{
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    color: #44281D ;
}

p
{
  font-size:14px;
  font-family: 'Pangolin', cursive;
  color: #44281D;

}

.center
{
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-card
{
  height:18em;
  width:14em;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  position:relative;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #1c6120, -15px -15px 27px #1c6120;
}

/* Bottom Card Section */

.property-description
{
  background-color: #dacd44;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  position:absolute;
  bottom:1em;
  left:1em;
}

.fa-heart {
    color:#44281D
}
/* Property Cards Hover States */



.fa-heart:hover
{
  color:aqua;
  cursor:pointer;
}


.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover 
{
  background-color:blue;
  cursor:pointer;
}
