body
{
  background-color:#272822;
}

h5
{
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    color: #44281D ;
    padding-top: 32px;
}

p
{
  font-size:14px;
  font-family: 'Pangolin', cursive;
  color: #44281D;

}

.center
{
  height: 55vh;
  width: 100%;
  
  justify-content: center;
  align-items: center;
}

.property-card
{
  height:18em;
  width:14em;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  position:relative;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  box-shadow:  5px 5px 27px #010902, -5px -5px 27px #010902;
  display: flex;
  padding: 0px;
  margin-bottom: 25px;
  
}

.property-description
{
  background-color: #dacd44;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}


.property-social-icons
{
  position:absolute;
  bottom:1em;
  left:1em;
}

.btn{
  position:absolute;
  bottom:0.6em;
  left:2em;
  font-family: 'Gaegu', cursive;
  font-size: 18px;
  color: #ffffff ;
  padding: 1px;
  margin-left: 5px;
}

.fa-heart {
    color:#44281D
}

.fa-heart:hover
{
  color:aqua;
  cursor:pointer;
}


.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover 
{
  cursor:pointer;
}

.page-title{
  font-family: 'Gaegu', cursive;
  font-size: 35px;
}

.card{
  max-width: 70%;
  margin-left: 15%;
  margin-top: 8%;
}

.col-md-4, .card-body, .col-md-8{
  background-color: #dacd44;
}

.detail-card-title{
  font-size: 35px;
}

.detail-card-text{
  font-size: 28px;
  font-family: 'Gaegu', cursive;
}