a{
    text-decoration: none;
    color: white;
    background:
    linear-gradient(
      to right,
      #272822
      #272822
    ),
    linear-gradient(
      to right,
      #3e8baa,
      rgba(253, 255, 114),
      rgb(161, 114, 255)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  }
  a:hover {
    background-size: 0 3px, 100% 3px;
    
  }

  .madeBy{
    font-family:  'Gaegu', cursive;
    color: white

  }