/*Navbar styles*/
.navbar{
    background-image: linear-gradient(#000000, #272822);
}

.logo{
    margin: 10px;
    width: 30px;
}

.logo-text {
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 25px;
}

.navbar>.container-fluid{
    justify-content: left;
    display: flex;
}

span.nav-item{
    text-decoration: none;
    color: white;

} 

/*Navigation buttons styles*/

.page-link {
    color: white;
    font-family: 'Gaegu', cursive;
    border-style:ridge;
    cursor: pointer;
}

.page-link:hover{
    color: #dacd44;
}


.nav-item{
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    border-radius: 5px;
}

.navbarItems{
    align-items: flex-end;
}

.pagination {
    margin: 30px;
}

.dropdown{
    display: inline-block;
}

.dropdown-menu{
    padding: 0px;
}

.dropdown-item{
    padding:5px;
}

.fa-solid{
    margin:3px;
    cursor: pointer;
}

span{
    color:black;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
}